/* debugger console */
#starburst_debug_console {
    width: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #640203;
    color: #000;
}

#starburst_debug_console a {
    color: #FDDD9A;
    font-weight: bold;
}

#starburst_debug_console pre {
    background-color: #F7F9FA;
    color: #000;
    margin: 2px;
    padding: 0;
    overflow: visible;
}

#starburst_debug_console ul {
    margin: 0;
    list-style: none;
}

#starburst_debug_console ul li {
    display: inline;
}

#starburst_debug_console .content {
    padding: 10px;
}

#starburst_debug_console .content div {
    overflow: scroll;
    background-color: #fff;
}

#starburst_debug_console .content div pre {
}

#starburst_debug_console .content div ul {
    
}

#starburst_debug_console .content div ul li {
    display: list-item;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

